doctype html
// [if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]><html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!
html.no-js
	//<![endif]
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		base(href="/")
		title iproferoApp
		meta(name="description", content="Organisr.io is a toolkit for keeping a small business organised")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		// Place favicon.ico and apple-touch-icon.png in the root directory
		
		<link rel="stylesheet" href="styles/a3394710.main.css"/>

		link(rel="apple-touch-icon", sizes="57x57", href="apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="114x114", href="apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="72x72", href="apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="144x144", href="apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="60x60", href="apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="120x120", href="apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="76x76", href="apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="152x152", href="apple-touch-icon-152x152.png")
		link(rel="icon", type="image/png", href="favicon-16x16.png", sizes="16x16")
		link(rel="icon", type="image/png", href="favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="favicon-160x160.png", sizes="160x160")
		meta(name="msapplication-TileColor", content="#3498db")
		meta(name="msapplication-TileImage", content="mstile-144x144.png")

		meta(name='og:title', content='Organisr.io')
		meta(name='og:image', content='favicon-160x160.png')
		meta(name='og:url', content='http://organisr.io')

	//- build:head

	body(data-ng-app="iproferoApp")
		//[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
			<![endif]
		//[if lt IE 9]>
			<script src="bower_components/es5-shim/es5-shim.js"></script>
			<script src="bower_components/json3/lib/json3.min.js"></script>
			<![endif]

		div(data-ng-include="", src="'partials/navbar.html'")
		div(data-ng-include="", src="'partials/sidebar.html'")
		div(data-ng-view)

		// Google Analytics: change UA-XXXXX-X to be site's ID.
		script.
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));

		script(src="bower_components/jquery/jquery.min.js")
		//- script(src="bower_components/select2/select2.js")
		script(src="bower_components/angular/angular.js")
		
		<script src="scripts/62d975fa.modules.js"></script>
		
		<script src="scripts/f3e85780.scripts.js"></script>
	//- build:body