// Declare any variables to be used throughout the website

// COLOURS
white =				#ffffff
dark-grey =			#333333
grey =				#999999
light-grey =		#ecf0f1
lighter-grey =		#e9edf0
blue-grey =			#95a5a6
black =				#000000

red =				#e74c3c
orange =			#e67e22
yellow =			#f1c40f
green =				#1abc9c
blue =				#3498db
dark-blue =			#34495e
purple =			#9b59b6


// LAYOUT
grid()
spacing =			1.5em
cornerradius =		0.2em
column-width = 		60px
gutter-width = 		20px
columns = 			12
total-width = 		100%

small-device =		"(min-width: 600px)"
medium-device =		"(min-width: 1024px)"


// TYPOGRAPHY

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

font = 				"Open Sans", sans-serif

textcolour =		dark-grey
linkcolour =		blue

fontface =			sans-serif
fontsize =			16px