// Body
// 
// Styles for the page itself.
//
// Styleguide 1.2

body
	background 					lighter-grey
	color 						textcolour
	font-size 					fontsize
	font-family 				font

[data-ng-view]
	position 					relative

.container
	padding 					spacing
	group()