// Images
// 
// Styles for images
//
// .class - description
//
// Markup:
// <img class="img {$modifiers}" src="http://placehold.it/200x200">
//
// Styleguide 1.3

.avatar
	display 				inline-block
	margin-right 			1em
	vertical-align 			middle

.small.avatar
	size(2em)

.rounded
	rounded()