// Form Inputs
// 
// Styles for form elements
//
// .class - description
//
// Markup:
// <h1 class="header {$modifiers}">Header</h1>
// <p class="paragraph {$modifiers}">Paragraph</p>
//
// Styleguide 1.9

input
	input(blue, 100%)
	box-sizing 					border-box
	margin-bottom 				1em
	padding 					1em

.invalid
	border 						1px solid red

.error
	background 					lighten(red, 80%)
	border 						1px solid red
	box-sizing 					border-box
	color 						red
	font-size 					0.8em
	margin-top 					0
	padding 					0.5em