// Layout
// 
// Styles for layout
//
// .class - description
//
// Markup:
// <div class="{$modifiers}"></div>
//
// Styleguide 1.4

.left.floated
	float 				left

.right.floated
	float 				right

.centre.aligned
	text-align 			center

.centred
	display 			block
	margin 				0 auto 1em