// Lists
// 
// Styles for lists
//
// .class - description
//
// Markup:
// <ul class="list {$modifiers}">
// 	<li>First</li>
// 	<li>Second</li>
// 	<li>Third</li>
// </ul>
// <ol class="list {$modifiers}">
// 	<li>First</li>
// 	<li>Second</li>
// 	<li>Third</li>
// </ol>
// <dl class="list {$modifiers}">
// 	<dt>First Term</dt>
// 		<dd>Definition</dd>
// 	<dt>Second Term</dt>
// 		<dd>Definition</dd>
// 	<dt>Third Term</dt>
// 		<dd>Definition</dd>
// </dl>
//
// Styleguide 1.6

.unstyled-list
	list-style 				none
	margin 					0
	padding 				0

		li
			margin 			0
			padding 		0

.inline-list
	li
		display 			inline-block

.timesheets
	list-style 				none
	padding 				0

	li
		background 			rgba(white, 0.5)
		padding 			1em
		margin 				0 0 0.2em 0
		group()

.projects
	@extend 				.unstyled-list
	padding 				0

.project
	border-bottom 			1px solid light-grey
	cursor 					pointer
	line-height 			3em
	overflow 				hidden
	padding 				0 0 0 1em

	a
		@extend 			.animated.fast
		color 				white
		display 			block
		margin-right 		-4em
		opacity 			0.7
		padding 			0 1em
		width 				1em

		&.edit
			background 		green

		&.delete
			background 		red

	&:hover
		@extend 			.animated.fast
		background 			lighten(light-grey, 60%)

		a
			opacity 		1

	&:last-of-type
		border-bottom 		none

	&.swiped
		a
			@extend 		.animated.fast
			margin-right 	0

	&.editing
		opacity 			0.3