// Text Styles
// 
// Styles for text elements
//
// .class - description
//
// Markup:
// <h1 class="header {$modifiers}">Header</h1>
// <p class="paragraph {$modifiers}">Paragraph</p>
//
// Styleguide 1.8


h1,
h2,
h3
	font-weight 			300

.subtitle
	margin 					0 0 1em

.small
	font-size 				0.7em

.timesheets h4
	margin 					0

[contenteditable="true"]
	display 				inline-block
	margin 					0.2em
	padding 				0.2em

[contenteditable="true"]:hover
	outline 				1px dashed grey

[contenteditable="true"]:focus
	background 				white
	border					1px solid blue
	box-shadow				0 0 5px rgba(blue,0.7)
	outline 				none !important
	-webkit-backface-visibility hidden

// p
// blockquote
// cite
// caption
// small
// strong

// etc.