// Text Styles
// 
// Styles for text elements
//
// .class - description
//
// Markup:
// <h1 class="header {$modifiers}">Header</h1>
// <p class="paragraph {$modifiers}">Paragraph</p>
//
// Styleguide 1.8


h1,
h2,
h3
	font-weight 			300

.subtitle
	margin 					0 0 1em

.small
	font-size 				0.7em

.timesheets h4
	margin 					0

// p
// blockquote
// cite
// caption
// small
// strong

// etc.