// Buttons
// 
// Button styles
//
// .class - description
//
// Markup:
// <button class="{$modifiers}">Button</button>
//
// Styleguide 2.2

.button,
button.button
	simple-button(dark-blue)
	border 					none
	margin-bottom 			1em

	&.large
		simple-button(dark-blue, 'large')