// Icons
// 
// Styles for icons
//
// .class - description
//
// Markup:
// <i class="icon {$modifiers}"></i>
//
// Styleguide 2.5

font-face('iprofero', '/fonts')

[class$="icon"],
[class*="icon "],
[class*="glyphicon"]
	font-family					'iprofero'
	speak						none
	font-style					normal
	font-weight					normal
	font-variant				normal
	text-transform				none
	line-height					1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing		antialiased
	-moz-osx-font-smoothing		grayscale

.left.icon
	margin-right 				0.5em

.right.icon
	margin-left 				0.5em

.large.icon
	font-size 					2em

.small.icon
	font-size 					0.6em

a
	.list2.icon
		color 					textcolour

	&:active,
	&:focus,
	&:hover,
	&.active

		.list2.icon
			color 				lighten(textcolour, 20%)

.user.icon:before
	content						"\e600"

.users.icon:before
	content						"\e601"

.user-add.icon:before
	content						"\e602"

.vcard.icon:before
	content						"\e603"

.mobile.icon:before
	content						"\e604"

.mail.icon:before
	content						"\e605"

.pencil.icon:before
	content						"\e606"

.clock.icon:before
	content						"\e607"

.calendar.icon:before
	content						"\e608"

.hourglass.icon:before
	content						"\e609"

.gauge.icon:before
	content						"\e60a"

.house.icon:before
	content						"\e60b"

.pie.icon:before
	content						"\e60c"

.bars.icon:before
	content						"\e60d"

.graph.icon:before
	content						"\e60e"

.logout.icon:before
	content						"\e60f"

.login.icon:before
	content						"\e610"

.checkmark.icon:before
	content						"\e611"

.cross.icon:before
	content						"\e612"

.blocked.icon:before
	content						"\e613"

.info.icon:before
	content						"\e614"

.question.icon:before
	content						"\e615"

.ccw.icon:before
	content						"\e616"

.cycle.icon:before
	content						"\e617"

.list.icon:before
	content						"\e618"

.list2.icon:before
	content						"\e619"

.folder.icon:before
	content						"\e61a"

.icon-arrow-left:before,
.arrow-left.icon:before
	content						"\e61b"

.arrow-down.icon:before
	content						"\e61c"

.arrow-up.icon:before
	content						"\e61d"

.icon-arrow-right:before,
.arrow-right.icon:before
	content						"\e61e"

.ellipsis.icon:before
	content						"\e61f"

.github.icon:before
	content						"\e620"

.search.icon:before
	content						"\e621"

.link.icon:before
	content						"\e622"

.export.icon:before
	content						"\e623"

.earth.icon:before
	content						"\e624"

.credit-card.icon:before
	content						"\e625"

.clipboard.icon:before
	content						"\e626"

.uniE627.icon:before
	content						"\e627"

.disk.icon:before
	content						"\e628"

.archive.icon:before
	content						"\e629"

.briefcase.icon:before
	content						"\e62a"

.lifebuoy.icon:before
	content						"\e62b"

.tools.icon:before
	content						"\e62c"

.cog.icon:before
	content						"\e62d"

.thumbs-up.icon:before
	content						"\e62e"

.thumbs-down.icon:before
	content						"\e62f"

.star.icon:before
	content						"\e630"

.star2.icon:before
	content						"\e631"

.plus.icon:before
	content 					"\e632"

.minus.icon:before
	content 					"\e633"
